version: 2.1

jobs:
  install: 
    docker:
      - image: cimg/node:14
    steps: 
      - checkout
      - save_cache:
          key: node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
          paths:
            - ~/.npm
      - run:
          name: install packages
          command: npm ci
  test:
    docker:
      - image: cimg/node:14
    steps:
      - checkout
      - restore_cache:
          # See the configuration reference documentation for more details on using restore_cache and save_cache steps
          # https://circleci.com/docs/2.0/configuration-reference/?section=reference#save_cache
          keys:
            - node-deps-v1-{{ .Branch }}-{{checksum "package-lock.json"}}
      - run:
          name: Run Tests
          command: npm run test

workflows:
  orb-free-workflow:
    jobs:
        - install
        - test
